# QGIS temp files
*.qgs~
*.qgz~
*.qgd
*.lock

# Python env and cache
__pycache__/
.ipynb_checkpoints/
.env
.venv/
venv/
env/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Heavy geospatial data formats (rasters and large vector archives)
*.tif
*.tiff

# OS temp files
.DS_Store
Thumbs.db
desktop.ini

# IDE settings
.vscode/
.idea/

# Jupyter
.jupyter/
.antigravitycli/
